.footer {
  min-height: 75 px;
  background: #6965E8;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #6965E8;
}
