.header {
  min-height: 80px;
  background: #6965E8;
  position: relative;
}

.header span {
  padding: 3px;
  background: #6965E8;
}
h1 {
  font-family: gameofthrones;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  text-align: center;
}
@font-face {
  font-family: gameofthrones;
  src: url(GameofThrones.ttf);
}
h4 {
  display: inline-block;
  margin-left:100px;
}
h5 {
  display: inline-block;
  margin-left:100px;
}