.header {
  min-height: 100px;
  background: #6965E8;
  position: relative;
}

.header span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #6965E8;
}